.header
  display flex
  line-height .86rem
  background-color $bgColor
  color #fff
  .header-left
    width .64rem
    float left
    text-align center
    padding-top 0.15rem
    .back-icon
       text-align center
       font-size .4rem
  .header-input
    flex 1
    background #ffffff
    border-radius .1rem
    margin-top .12rem
    margin-bottom .12rem
    margin-left .2rem
    padding-left .2rem
    color #ccc
  .header-right
    margin-right: 0.05rem;
    padding-top: 0.15rem;
    float right 
    text-align center
    color: #fff
    .arrow-icon
       font-size .24rem
       margin-left .2rem